.header-container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
  }
  
  .header-content {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  
  .header-content a {
    color: #6c757d;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
  }
  
  .header-content a:hover {
    color: #007bff;
  }
  