
<div class="main-content">
    <!-- Your main content here -->
    <div class="pokemon-detail">
      <!-- Pokémon detail card goes here -->
  
  <mat-card>
    <!-- Pokémon Name -->
    <mat-card-title>{{ pokemonDetail?.name | titlecase }}</mat-card-title>

    <!-- Pokémon Abilities -->
    <mat-card-subtitle>Abilities</mat-card-subtitle>
    <mat-list>
      @for(ability of pokemonDetail?.abilities; track ability) {
        <mat-list-item>
          <span
            >{{ ability.ability.name | titlecase }} (Hidden:
            {{ ability.is_hidden ? "Yes" : "No" }})</span
          >
        </mat-list-item>
      }
     
    </mat-list>

    <!-- Pokémon Types -->
    <mat-card-subtitle>Types</mat-card-subtitle>

    <mat-chip-listbox>
      @for(type of pokemonDetail?.types; track type) {
        <mat-chip color="primary">{{
          type.type.name | titlecase
        }}</mat-chip>
      }
      
    </mat-chip-listbox>

    <!-- Pokémon Stats -->
    <mat-card-subtitle>Stats</mat-card-subtitle>
    @if(pokemonDetail && pokemonDetail.stats){
      <table
      mat-table
      [dataSource]="pokemonDetail.stats"
      class="mat-elevation-z8"
    >
      <!-- Base Stat Column -->
      <ng-container matColumnDef="base_stat">
        <th mat-header-cell *matHeaderCellDef>Base Stat</th>
        <td mat-cell *matCellDef="let stat">{{ stat.base_stat }}</td>
      </ng-container>

      <!-- Stat Name Column -->
      <ng-container matColumnDef="stat_name">
        <th mat-header-cell *matHeaderCellDef>Stat Name</th>
        <td mat-cell *matCellDef="let stat">
          {{ stat.stat.name | titlecase }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['stat_name', 'base_stat']"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['stat_name', 'base_stat']"
      ></tr>
    </table>
    }
  </mat-card>
</div>
</div>